<section id="menu" class="delicious-menu-section">
  <div class="container text-center">
    <p class="subtitle">MENU</p>
    <div class="divider"></div>
    
    <h2 class="title" [innerHTML]="getFormattedTitle(mainTitle)"></h2>

    @if (burgers && burgers.length > 0) {
      <swiper-container 
        #swiperEl
        navigation="true"
        init="false"
        class="mt-5">
        
        @for (burger of burgers; track burger.id) {
          <swiper-slide>
            <div class="burger-card">
              <div class="img-container">
                <img [src]="'/' + burger.photo" [alt]="burger.nom">
              </div>
              <h4 class="burger-name mt-5">{{ burger.nom }}</h4>
              <p class="burger-desc mt-3">{{ burger.description }}</p>
              <a href="#" class="order-btn">ORDER NOW</a>
            </div>
          </swiper-slide>
        }
      </swiper-container>
    }

    <div class="view-more-container">
      <button class="btn-view-more">VIEW MORE</button>
    </div>
  </div>
</section>