@use '../../../variables' as var;

.delicious-menu {
  background-color: #0d0d0d; 
  color: white;
  padding: 80px 0;

  .label-yellow {
    color: var.$yellowText;
    font-weight: bold;
    letter-spacing: 2px;
  }

  .divider-yellow {
    width: 100px;
    height: 2px;
    background-color: var.$yellowText;
  }

  .section-title {
    font-family: var.$roboto;
    font-weight: 900;
    font-size: 3rem;
    text-transform: uppercase;

    ::ng-deep .hashtag {
      color: var.$yellowText; 
    }
  }

  swiper-container {
    display: block;
    width: 100%;
    min-height: 480px;
    padding: 0 50px;
    --swiper-navigation-color: #{var.$yellowText}; 
    --swiper-pagination-color: #{var.$yellowText};
    --swiper-navigation-size: 25px;
  }

  swiper-slide {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
  }

  .burger-card {
    background-color: #1a1a1a; 
    border-radius: 40px;
    padding: 35px;
    margin: 15px 5px;
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;

    .img-wrapper {
      margin-bottom: 25px;
      display: flex;
      justify-content: center;
      
      img {
        max-height: 180px;
        width: auto;
        object-fit: contain;
      }
    }

    .burger-name {
      font-weight: 800;
      font-size: 1.3rem;
      text-transform: uppercase;
      margin-bottom: 12px;
    }

    .burger-desc {
      font-size: 0.85rem;
      color: #b3b3b3;
      margin-bottom: 25px;
      line-height: 1.5;
      flex-grow: 1;
    }

    .btn-order {
      background: none;
      border: none;
      color: var.$yellowText;
      font-weight: bold;
      text-transform: uppercase;
      padding: 0;
      font-size: 0.85rem;
      cursor: pointer;
      width: fit-content;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .btn-view-more {
    background-color: #ff6b2b; 
    color: white;
    border: none;
    padding: 16px 45px;
    border-radius: 35px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 50px;
    transition: all 0.3s ease;

    &:hover {
      background-color: #e85a1a;
      transform: translateY(-2px);
    }
  }
}