@use '../../../variables' as var;

.delicious-menu-section {
  background-color: var.$bgColor;
  color: var.$mainText;
  padding: 80px 0;
  font-family: var.$roboto;

  --swiper-navigation-color: #{var.$yellowText};
  --swiper-navigation-size: 55px;

  .subtitle {
    color: var.$yellowText;
    letter-spacing: 2px;
    font-size: 18px;
    margin-bottom: 5px;
  }

  .title {
    font-weight: 900;
    font-size: 48px;
    margin-top: 0;
    ::ng-deep .hashtag { color: var.$yellowText; }
  }

  .divider {
    width: 400px;
    height: 2px;
    background: var.$yellowText;
    margin: 20px auto 60px;
  }

  swiper-container {
    padding: 0 120px;
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
    overflow: visible;

    &::part(button-prev) {
      left: -40px;
      font-weight: 900;
    }

    &::part(button-next) {
      right: -40px;
      font-weight: 900;
    }
  }

  .burger-card {
    text-align: left;

    .img-container {
      border-radius: 40px;
      padding: 30px;
      margin-bottom: 25px;
      display: flex;
      justify-content: center;

      img {
        width: 100%;
        max-width: 220px;
        height: auto;
        object-fit: contain;
      }
    }

    .burger-name {
      font-weight: 800;
      font-size: 22px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    .burger-desc {
      color: #aaa;
      font-size: 14px;
      line-height: 22px;
      height: 60px;
      overflow: hidden;
      margin-bottom: 15px;
    }

    .order-btn {
      color: var.$yellowText;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 14px;
      &:hover { color: white; }
    }
  }

  .view-more-container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    
    .btn-view-more {
      background-color: #ff6a28; 
      color: white;
      border: none;
      padding: 12px 80px;
      border-radius: 12px;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 18px;
      transition: 0.3s;
      
      &:hover {
        background-color: #e55a1f;
        transform: scale(1.05);
      }
    }
  }
}