.video-section {
  width: 100%;
  background-color: #0d0d0d;
  line-height: 0;

  .video-container {
    position: relative;
    width: 100vw;
    height: 600px;
    overflow: hidden;

    .bg-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100px;
      transition: transform 0.2s ease;
      cursor: pointer;

      img {
        width: 100%;
      }

      &:hover {
        transform: translate(-50%, -50%) scale(1.1);
      }
    }
  }
}