// Titre et sous titre
$roboto: 'Roboto Condensed', sans-serif;
$arial: 'Arial', sans-serif;

// Nom des couleurs a rappller avec variables.$(le nom de ma variables dans le style.scss)
$bgColor: #0a0a0a;
$secondaryBgColor: #0f0f0f;
$orangeButtons: #ff6d1f;
$yellowButtons: #fabb26;
$greenButton: #2aa321;
$lightGrayBg: #242424;
$mainText: #ffffff;
$yellowText: #fabb26;
$blackText: #000000;